<!doctype html>
    <body>
        <title>Logo Maker</title>
        <form class="form" method="GET" >
            <label for="name_text">Enter Name</label><br>
            <textarea name="name_text" id="name_text" rows="1" style=" width: 50%;">{{t}} </textarea>
          
            
            <br>
            <br/>
            <br/>
            <input type="submit" value="Generate Image">
            <hr/>
        </form> 
        <textarea style="overflow-y: scroll; height:100px;resize: none;">{{name_text}}</textarea>
    </body>
